<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestoranMIS_DAL.Properties.Settings.si012ConnectionString"
            connectionString="Data Source=&quot;app.fit.ba, 1434&quot;;Initial Catalog=si012;User ID=si012;Password=npjo!1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>